################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/stringFinder/.vs/stringFinder/v15
/stringFinder/testing
/stringFinder/x64/Debug
/.vs/stringFinder
