################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/stringFinder
/testing
/x64/Debug
/Debug
/x64/Release
*.vsp
*.o
stringFinder
tests/
/packages/*
